
/* Some color scheme variables */
:root {
    --blueTheme: rgb(73, 199, 230); 
    --hoverTheme: rgb(99, 145, 156);
    --backgroundTheme: rgb(105, 105, 105);
  }

* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    background-color: var(--backgroundTheme);
}

/* Set color of all headings */
.heading {
    color: var(--blueTheme);
}

/* --- Navbar Section --- */

/* Formatting for the navbar title */
.navTitle {
    position: absolute;
    margin-top: 4%;
    border: 5px solid var(--backgroundTheme);
    background-color: var(--blueTheme);
    border-radius: 0 0 30% 30%;
    font-size: xx-large;
    color: white;
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 1%;
}

/* Aligning the navbar items to the right */
.navItems {
    justify-content: end;
    margin-right: 2%;
}

/* Change the color of navbar links */
.nav-link,
.dropdown-item {
    color: var(--blueTheme);
}

/* --- Hero Section --- */

/* Add a background image to hero and align text */
.heroBackground {
    background-image: url(../images/hero.jpg);
    background-size: cover;
    box-shadow: 0 0 8px 8px var(--backgroundTheme) inset;
    text-align: center;
}

/* Style the text for hero section */
.heroText {
    display: inline-block;
    color: var(--backgroundTheme);
    text-shadow: 2px 2px 2px white;
}

.heroParagraph {
    margin-top: 2%;
}

/* Style the profile picture */
#profilePic {
    width: 20%;
    border-radius: 50%; /* Make the picture round */
    box-shadow: 0 0 8px 8px var(--backgroundTheme); /* A shadow to make the image pop */
}

/* --- About Me Section --- */

/* Align the section's content */
.about {
    text-align: center;
    width: 60%;
    margin: auto;
    margin-bottom: 5%;
}

.aboutContent {
    color: white;
    font-size: large;
}

/* Skills Section */

/* Align the section's content */
.skills {
    text-align: center;
    margin-bottom: 5%;
}

.skillsContent {
    color: white;
}

#skillsList {
    text-align: left; /* Align text to left to bullet points are straight */
    margin-left: 20%; /* Add a left margin to center skills list */
    font-size: large;
    column-count: 3; /* Split the list into 3 columns */
}

/* --- Projects Section --- */

.projects {
    text-align: center;
    margin-bottom: 5%;
}

/* Format the cards into a grid */
.projectGrid {
    display: grid;
    width: 60%;
    margin: auto;
    text-align: center;
    grid-template-rows: auto auto auto auto auto auto 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: auto auto 1fr 1fr;
    grid-template-areas: 
    "work1 work1"
    "work1 work1"
    "work2 work3"
    "work2 work3"
    "work4 work5"
    "work4 work6"
    ;
}

/* Name cards for use in grid */
#work1 {
    grid-area: work1;
}

#work2 {

    grid-area: work2;
}

#work3 {
    grid-area: work3;
}

#work4 {
    grid-area: work4;
}

#work5 {
    grid-area: work5;
}

#work6 {
    grid-area: work6;
}

/* Style the cards with background color, text color and border */
.card {
    background-color: var(--blueTheme);
    border: 5px solid var(--hoverTheme);
    color: white;
    opacity: 70%;
    margin: 2%;
}

/* Light up cards when hovering over them */
.card:hover {
    opacity: 100%;
}

/* Make the main card image slightly bigger */
.mainCardImg {
    height: auto;
}

/* Make all card images uniform */
.cardImg {
    width: auto;
    height: auto;
}

/* Add a box shadow when hovering over buttons */
.btn:hover {
    box-shadow: 0 0 5px 5px var(--hoverTheme);
}


/* --- Contact Section --- */

.contact {
    text-align: center;
    margin-bottom: 5%;
}

.contactContent p {
    color: white;
}

/* Display contact list inline, large font and increase spacing */
.contactItem {
    display: inline-block;
    font-size: large;
    margin-right: 2%;
}

/* Override default link styles */
.contactLink {
    text-decoration: none;
    color: var(--blueTheme);
}

/* Add some hover styles for the contact links */
.contactLink:hover {
    color: var(--hoverTheme);
    box-shadow: 0 0 5px 5px var(--hoverTheme);
}

/* --- Footer --- */

footer {
    background-color: aliceblue;
    text-align: center;
}

/* TODO */
/* --- Add media queries --- */
/* focus on navbar and profil picutre */
/* display one image per row for grid */
/* maybe change the skills list formatting */
/* Maybe change hero text formatting */

/* --- Make sure all links go somewhere --- */
/* Contact links should go to correct websites */
/* Resume link in navbar should download resume PDF */